@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { 
    box-sizing: border-box;
    
  
}


body {
  font-family: "Inter", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 80px;
}


header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo, header nav a, .hero-product-info, .hero-product-additional-details, .product-card figcaption{
  color: black;
  text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 150%;
}

header nav{
  gap: 48px;
  display: flex;
  align-items: center;
}
header button, .hero-product-discription button{
  background: black;
color: white;
border-radius: 8px;
width: 99px;
height: 52px;
border: none;
cursor: pointer;
font-size: 16px;
font-weight: 500;
}
.hero-product {
margin: 56px 0 80px;
display: flex;
justify-content: space-between;

}


.hero-product-discription{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 515px;
}
.hero-product-discription h2, .hero-product-price, .products h2, .footer-info h2{
 
  font-size: 24px;
  line-height: 150%
}
.hero-product-price{
 font-size: 24px;
  line-height: 150%
}
h1{
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
}
.hero-product-info{
  color: gray;
}
.hero-product button{
  width: unset;
}
.hero-product-discription h2, .hero-product-info, .hero-product-additional-details, .product-card-discription{
   color: gray;
}
.hero-product-additional-details{
  font-size: 16px;
}
.products-cards{
margin: 24px 0 120px;
display: flex;
gap: 24px;
}
.product-card{
  flex: auto;
}
.product-card figcaption{
  margin-top: 24px;
}
footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  padding-top: 48px;

}
.footer-links{
  display: flex;
  gap: 32px;
}
.footer-links-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 188px;
}
.footer-links-list a, .footer-links h3{
  font-weight: 500;
  line-height: 150%;
  color: #454545;
  text-decoration: none;
}
.footer-links h3{
  color: black;
}
.footer-info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.social-media{
  display: flex;
  align-items: center;
  gap: 24px;
}
.social-media img:hover{
  filter: brightness(50%);
}
